* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: grey;
}

.container {
    margin: 0 auto;
    width: 100%;
}

.cell img {
    display: block;
}

.cell {
    width: 50%;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    align-content: flex-start;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 200px;
    margin: auto;
}

@media screen and (min-width: 800px) {
    .cell {
        width: auto;
        flex-direction: column;
        align-content: flex-start;
    }

    .grid {
        width: 50vw;
        margin: 0 auto;
    }
}

@media screen and (min-width: 600px) {
    .cell{
        width: auto;
    }

    .grid {
       justify-content: center;
    }

    header {
        display: block;
        position: absolute;
        top: 25px;
        left: 25px;
        width: 25%;
        height: 50px;
    }
}

